.login-page-content{
    .box{
        a{
            display: block;
            margin: 5px 0;
            font-size: ceil(@font-size-base * 0.85);
        }
    }
    
    .checkbox{
        margin-top: 0;
        margin-bottom: 15px;
    }
}

