.user-panel {
    > .info {
        left:auto;
        right: 15px;
        top: 22px
    }
    > .image {
        > img{
            max-width: 80px
        }
    }
}

.navbar-nav{
    > .user-menu{
        .user-image{
            margin-top: -10px;
            width:40px;
            height: 40px;
            border-radius: 10%
        }
    }
}

/*
 * Page: 400 and 500 error pages
 * ------------------------------
 */
.error-page {
  > .headline {
    font-size: 72px;
    float: none;
  }
}

/*
 * Component: Box
 * --------------
 */
.box-body{
    padding-top: 25px;
}